.slider {
  :global {
    .swiper-button-prev::after,
    .swiper-button-next::after {
      position: absolute;
      top: var(--swiper-navigation-top-offset, 50%);
      font-size: 14px;
      line-height: 14px;
      font-weight: bold;
      width: 30px !important;
      height: 30px !important;
      border-radius: 50% !important;
      background: #505050b8;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
     
    }
    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
      bottom: var(--swiper-pagination-bottom, 16px);
      top: var(--swiper-pagination-top, auto);
      left: 80%;
      width: auto !important;
      background-color: #505050b8;
      border-radius: 25px;
      padding: 4px 10px;
      font-size: 12px;
      color: white;
  }
  }
}
